*{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.81);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
countdown{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.81);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
border: 1px solid rgba(255, 255, 255, 0.3);

}

body {
    background-image: url('https://i.pinimg.com/564x/04/17/91/04179144a134d355ffa45027dc32f380.jpg');
    background-position: center;
}